<h1>Generative art</h1>

<h2>What is generative art?</h2>
<p>
  Generative art for me is hard to describe. I should probably look at the
  wikipedia page to see what the "formal" deffinition is.
</p>

<h2>Tools</h2>
<p>
  My favorite thing in the world is tooling. For me this is the truly fun stuff.
  I love getting things up and running. I used to wish my job could be going
  into a situation and watching someone work then try and make them a better or
  more optimized workflow.
</p>
<h2>Fun links</h2>
