<svelte:head>
  <title>About</title>
</svelte:head>

<h1>About me</h1>
<p>
  I am a learner that loves to learn... I like to help people. I like to solve
  problems. I am kind of good at empathysing with people. I can quicky see the
  system and its complexity. I am a great brain stormmer. I think I am really
  good at bringing a team together and having a positive outlook. I can rally
  and help bring a project together.
</p>
<h2>Interests</h2>
<h2>Education</h2>
<h2>Experiance</h2>

<h2>Hobbies</h2>

<p>This is the 'about' page. There's not much here.</p>
