<style>
  h1,
  figure,
  p {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  figure {
    margin: 0 0 1em 0;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>

<svelte:head>
  <title>Sapper project template</title>
</svelte:head>

<p>
  <strong>
    Try editing this file (src/routes/index.svelte) to test live reloading.
  </strong>
</p>

<h1>Learning Svelte</h1>

<h2>Artistic mediums</h2>
<ul>
  <li>Watercolor</li>
  <li>Sketching</li>
  <li>Photography</li>
</ul>
<p>Use this as a place to learn about myself.</p>

<h2>Projects</h2>
<ul>
  <li>Animate something</li>
  <li>Take photos (need to find a subject matter)</li>
  <li>Make a personal brand website... that is this</li>
</ul>

<p>
  I think the way that Svelte does routing might be a really good way for me to
  organize my thoughts.
</p>

<h2>Things to practice</h2>
<ul>
  <li>Drawing</li>
  <li>Coding</li>
</ul>
