<h1>A place for random thouhgts</h1>
<p>
  I will place the thoughts that I have that have no were else to live right
  here. I will also try not to delete or edit things that are from the past.
</p>

<p>Probably should be whatching what is going on the work share.</p>

<p>Make a dash expansion for the pretty date.</p>

<p>It feels to early to make an art or a project folder.</p>

<p>
  Should there be a place (when I say place I mean a page) just for questions?
  Or, rules? Or, I guess anything that might be a really hard to differentiate
  thing that is represented in a small amount of text?
</p>

<p>A thought is not a todo.</p>

<p>A todo should be thought through</p>

<p>
  You are good at having conversations with others. Why is it so hard to have a
  conversation with yourself.
</p>

<p>Make CSS rules and some kind of regular structure</p>

<p>
  Try and keep the structure you have form the template. Just for now keep the
  styles. This will be a good starting point so that I don't feel like things
  are so ugly.
</p>

<p>I just want to make things pretty</p>

<p class="rule">Rule: Add classes to elements.</p>

<p class="frustration">
  I am frustrated when I tell myself todo something and sudenly I am forzen and
  I can't think anymore.
</p>

<p class="rule">Rule: Don't delete things. This is a good rule.</p>

<p class="practice">Practice: Drawing</p>

<p class="rule">
  Rule: Don't use the phrase, "Get good at...". Instead, use the word,
  "practice".
</p>

<p class="practice">Practice: Writing.</p>

<p>
  Should I hold off on making a todo page? I feel like I should get boring-ly
  comfterbal doing it like this before I add another layer of complexity to the
  whole situation. It is good to get good at the fundememntals. At this moment I
  need to write a note to remember to turn on line wrap. I am typing and typing
  and it just keeps going. I don't see the start of the line.
</p>

<p>Are there 2 spaces or 1 after a period.</p>
